<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Contact Me</h2>
							<p>Let's connect and see what we can make happen</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
                 <span class="icon solid alt major fa-envelope"></span>
                  <a href="mailto:jjlauesen@proton.me">
                   <h3>Email</h3>
                  </a>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
                 <span class="icon brands alt major fa-github"></span>
                 <a href="https://github.com/pixelfry">
									<h3>Github</h3>
                 </a>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
								 <span class="icon brands alt major fa-linkedin"></span>
                 <a href="#">
									<h3>LinkedIn</h3>
                 </a>
								</section>
	  					</div>
						</div>
						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"><img src="" alt="" /></a>
                <h3>Looking forward to meeting you</h3>
							</section>
					</div>
				</div>
