<header id="header">
  <h1 id="logo">Jesse Lauesen</h1>
<nav class="nav">
 <div class="" id="navbarText">
    <ul class="">
      <li class="">
        <a class="" routerLink="/">Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="">
        <a class="" routerLink="/projects">Projects</a>
      </li>
      <li class="">
        <a class="" routerLink="/future">About Me</a>
      </li>
      <li class="">
        <a class="" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
</header>

<div id="titleBar">
  <a class="toggle" href="navPanel"></a>
  <span class="title">
    <a routerLink="/">Jesse Lauesen</a>
  </span>
</div>

<div id="navPanel">
  <nav>
    <a class="link depth-0" routerLink="/projects">Projects</a>
    <a class="link depth-0" routerLink="/future">About Me</a>
    <a class="link depth-0" routerLink="/contact">Contact</a>
  </nav>
</div>
