<header id="header">
  <h1 id="logo">Jesse Lauesen</h1>
<nav class="nav">
 <div class="" id="navbarText">
    <ul class="">
      <li class="">
        <a class="" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="">
        <a class="" href="/projects">Projects</a>
      </li>
      <li class="">
        <a class="" href="/future">About Me</a>
      </li>
      <li class="">
        <a class="" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
</header>

<div id="titleBar">
  <a class="toggle" href="#navPanel"></a>
  <span class="title">Jesse Lauesen</span>
</div>
<div id="navPanel">
 <nav>
   <a class="link depth-0" href="/">Home <span class="sr-only">(current)</span></a>
   <a class="link depth-0" href="/projects">Projects</a>
   <a class="link depth-0" href="/future">About Me</a>
   <a class="link depth-0" href="/contact">Contact</a>
 </nav>
</div>
