<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Projects and Experience</h2>
							<p>Featured applications and side projects</p>
						</header>
						<div class="row gtr-150">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
                      <h3>Portfolio Website</h3>
											<p>View the code that makes this page run! This portfolio website was built with Angular and the code is available to view on my github page.</p>
											<footer>
												<ul class="actions">
													<li><a href="https://github.com/pixelfry/portfolio_v2" class="button">Learn More</a></li>
												</ul>
											</footer>
										</section>
										<hr />
										<section>
											<a href="#" class="image fit"><img src="Hierarchy3D.png" alt="" /></a>
											<h3>Hierarchy3D</h3>
											<p>An SPA that displays the Java Collection API as a three dimensional model, allowing for greater visualization of how it is divided and its attributes. The page does not connect to any database and is self contained on the front end. Made with Angular</p>
										<footer>
                     <ul class="actions">
											<li><a href="https://github.com/pixelfry/Hierarchy3D" class="button">Learn More</a></li>
                     </ul>

										</footer>
										</section>
									</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<section id="content">
										<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
										<h3>Feral Love</h3>
										<p>Feral Love is a non-profit organization based out of the suburbs of Chicago. Their mission is help stray and feral cats be happy and healthy and where applicable, find them forever homes. I built their static site to help drive exposure and reach a wider audience on the web.</p>
                    <h5>Technologies Used</h5>
                    <ul>
                        <li>Java</li>
                        <li>Spring</li>
                        <li>Angular</li>
                        <li>PostgresSQL</li>
                        <li>Neovim</li>
                    </ul>
                    <ul class="actions">
											<li><a href="https://github.com/pixelfry/feral-love-client" class="button">Client Repo</a></li>
											<li><a href="https://github.com/pixelfry/feral-love-server" class="button">Server Repo</a></li>
										</ul>
                    <a href="https://github.com/pixelfry/data-warehouse" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
										<h3>SQL Data Warehouse</h3>
										<p>This project was designed as a portfolio piece, and showcases how to setup and run an OLAP (Online Analytical Processing) Data Warehouse. This database focuses on data analysis, aggregation, and reporting across large datasets. For this project Microsoft SQL Server was used</p>
                    <h5>Technologies Used</h5>
										<ul>
											<li>Structured Query Language</li>
											<li>Microsoft SQL Server</li>
											<li>Neovim</li>
										</ul>
                    <ul class="actions">
											<li><a href="https://github.com/pixelfry/data-warehouse" class="button">Take Me To The Repo</a></li>
										</ul>
									</section>
							</div>
						</div>
					</div>
				</div>
