

#jesse-image {

}

#one {
  background-image: url("../../../../public/techworking.jpg");
}

#two {
  background-image: url("../../../../public/pexels-luis-gomes-166706-546819.jpg");
}

#three {
  background-image: url("../../../../public/raspberrypi.jpg");
}
