

#jesse-image {
  width: inherit;
  height: inherit;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #3fc8ff;
  top: -50%;
}

span.icon.solid.alt.major {
  padding-top: 10px;
}

#banner {
  background-image: url("../../../../public/pexels-pixabay-260259.jpg");
}

#one {
  background-image: url("../../../../public/techworking.jpg");
}

#two {
  background-image: url("../../../../public/pexels-luis-gomes-166706-546819.jpg");
}

#three {
  background-image: url("../../../../public/raspberrypi.jpg");
}

.text-center {
  text-align: center;
}
