

#jesse-image {
  width: inherit;
  height: inherit;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #3fc8ff;
  top: -50%;
}

#one {
  background-image: url("../../../../public/techworking.jpg");
}

#two {
  background-image: url("../../../../public/pexels-luis-gomes-166706-546819.jpg");
}

#three {
  background-image: url("../../../../public/raspberrypi.jpg");
}
