<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Jesse Lauesen</h2>
              <p>Developer. Administrator. Builder. Creator.
							</p>
						</header>
						<span class="image"><img src="headshot.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>


<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="geometric-banner.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
                    <!-- Picture of self goes in this div -->
                    <img id="jesse-image" src="yuyuheadshot.png">
									<header>
										<h2>Jesse Lauesen</h2>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>Detail-oriented and proactive Information Technology Specialist with 5 years of experience in managing, optimizing, and securing IT infrastructures. Skilled in troubleshooting, system administration, network management, and providing technical support.
									</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Expertise in Linu/Windows systems, cloud platforms, and networking protocols. Adept at delivering technical solutions that improve operation efficiency, enhance system performance, and ensure data security.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="public/cyber-banner.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Projects</h2>
							<p>Endeavors I have contributed to or worked on</p>
						</header>
						<p>A wide variety of tools and languages were used in these projects including Java, Angular, and Blender to name a few. Find out more on the Projects page</p>
						<ul class="actions">
							<li><a href="projects" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Moving Forward</h2>
							<p>Looking ahead at the things still to come</p>
						</header>
						<p>Check out the 'About Me' page to learn more about my story and where I intend to spend my time and talents.</p>
						<ul class="actions">
							<li><a href="/future" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Building the future, one piece at a time</h2>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-server"></span>
									<h3>Software Development</h3>
									<p>Familiar with Agile and Waterfall SDLC, staying up to date on current and legacy technologies.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-brain"></span>
									<h3>Artificial Intelligence</h3>
									<p>Utilizing Artificial Intelligence to increase output, accuracy, and efficiency.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Embedded Systems</h3>
									<p>Integrating software solutions with bare metal systems..</p>
								</section>
	  					</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="/contact" class="button">Contact Me</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Forward we move, together</h2>
							<p></p>
						</header>
					</div>
				</section>
